<ion-card>
  <ion-card-content class="ion-no-padding">

    <ion-header style="font-weight: bold; color: white; font-size: 150%;">{{titulo}}</ion-header>
    
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="12" sizeLg="6" sizeMd="6" sizeXs="12">
          <ion-img [src]=imagen></ion-img>
        </ion-col>
        <ion-col sizeSm="12" sizeLg="6" sizeMd="6" sizeXs="12">
          <ion-label>{{descripcion}}</ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>
    
  </ion-card-content>
</ion-card>